body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
}
div {
    position: relative;
    float: left;
    margin: 2.5%;
    width: 95%;
    text-align: center;
}
div#settings{
    position: relative;
    float: left;
    margin: 2.5%;
    width: 95%;
    text-align: center;
}
span.card {
    color: #ffffff;
    display: inline-block;
    background-color: rgba(255, 0, 0, 1);
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 20%;
}
span.card2 {
    color: #ffffff;
    display: inline-block;
    background-color: rgba(255, 0, 0, 1);
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    border-radius: 20%;
}
.CardSizeSlider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .CardSizeSlider:hover {
    opacity: 1;
  }
  
  .CardSizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .CardSizeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }